{% extends 'layout.html' %} {% block content %}
<h1>Select Profile</h1>

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form action="/login" method="POST" class="box">
  <!-- User Dropdown -->
  <div class="input__wrapper">
    <select name="user_id" class="input__field" required>
      <option value="" disabled selected>Who is using the app?</option>
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
      {% endfor %}
    </select>
  </div>

  <br />

  <!-- 4-Digit PIN Input -->
  <div class="input__wrapper">
    <input
      type="password"
      name="pin"
      placeholder="Enter 4-Digit PIN"
      maxlength="4"
      class="input__field"
      required
    />
  </div>

  <br />

  <button type="submit">View Your Collection</button>
</form>
{% endblock %}
